<h1 class="tfe-section-highlight_title">
    {{ 'HEADER.NAME' | translate }}
</h1>

<section class="tfe-intro">
    <section class="left">
        <article class="tfe-intro-article" [attr.title-content]="'HEADER.WHO' | translate">
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.WHO_CONTENT' | translate">
            </p>
        </article>
        <article class="tfe-intro-article" [attr.title-content]="'HEADER.PAST' | translate">
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.PAST_CONTENT_1' | translate">
            </p>
            <p class="tfe-intro-article-content">
                {{ 'HEADER.PAST_CONTENT_2' | translate }}
            </p>
        </article>
    </section>
    <section class="right">
        <article class="tfe-intro-article" [attr.title-content]="'HEADER.NOW' | translate">
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.NOW_FRONTEND' | translate"></p>
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.NOW_PROBLEM' | translate"></p>
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.NOW_AI' | translate"></p>
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.NOW_COLLAB' | translate"></p>
            <p class="tfe-intro-article-content" [innerHTML]="'HEADER.NEW_PROD_COMMING' | translate"></p>
        </article>
    </section>
</section>
